<!-- Modal -->
<div class="modal fade" id="transferencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Hacenos una transferencia a</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>CBU: </li>
            <li>Nombre: </li>
            <li>Banco: </li>
            <li>Tipo de cuenta: </li>
        </ul>
        <p>
            Y manda un email a <b>miliydiego2018@gmail.com</b> diciendo que regalo nos hiciste así podemos agradecer tu <i class="fas fa-heart fa-xs" ></i>
        </p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb0" data-dismiss="modal" style="background-color: #ffffff;">Cerrar</button>
        <a href="mailto:miliydiego2018@gmail.com?subject=Ya%20les%20Regale%20&amp;body=Hola!%20Les%20regale%20-%20tu%20regalo%20-" alt="ya transferi" class="btn btn-filled">Listo! ya transferí</a>
      </div>
    </div>
  </div>
</div>
