/****** Helpers ******/

.gift-container {
    background-color: #ffffff;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    color: #292929;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.gift-container p,
.gift-container h4 {
    color: #292929;
}

.gift-picture {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    
}
.gift-1 {
    background: url('gift1.jpg');
    background-size: cover;
}

.gift-info {
    padding: 15px;
}
.gift-info h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.gift-info .price {
    color: #D6346C;
    margin-bottom: 10px;
    font-weight: bold;
}

.btn.btn-filled:hover,
.btn.btn-filled:focus {
    border: 2px solid #D6346C;
    color: #D6346C;
    background: #ffffff;
} 

.gift-picture-full{
    height: 260px;
    background-position: center; 
}
.parallax > .background-image-holder.gift-bg-image {
    height: 160vh;
}
.gift-header {
    background: url('regalo.jpg');
    background-size: cover;
    background-position: center;
}
@media all and (max-width: 430px) {
    .hidde-xs {
        display: none;
    }
    .gift-container {
        margin-right: 15px;
        margin-left: 15px;
    }
    .gift-bg-image {
        height: 100vh;
    }
}
