<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Mili y Diego - 30 de Abril</title>
        <meta name="description" content="Nos casamos el 30 de abril y queremos compartirlo con vos!">
        <!-- Icon as App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="/miliydiego/addtohomescreen.css">
        
        
     
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/miliydiego/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/theme.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/custom.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/css" rel="stylesheet" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

        
    </head>
    <body>
         <% include ../partials/modal-transferencia.ejs %>
        <div class="gift-picture-full gift-1"></div>
        <section>
            <div class="container text-center-xs">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                            <div class="gift-info">
                                <h1>Regalo 1</h1>
                                <h4 class="price">$2.000</h4>
                                <p>Descripcion un poquito más larga del regalo. En qué momento lo usarían? porque quieren este regalo?</p>
                            </div>
                    </div>
                    
                    <div class="col-md-offset-1 col-md-5 col-sm-12 gift-container text-center">
                        <p class="mt32 uppercase mb-sm-8">Hacenos este regalo</p>
                        <a href="#" class="btn btn-filled btn-lg" data-toggle="modal" data-target="#transferencia">Regalar con transferencia</a>
                        <p>O traenoslo a la fiesta ;) </p>
                    </div>
                </div>
                <a href="/gifts" class="btn mt-sm-32">Buscar otro regalo</a>
            </div>
        </section>
                
	
		
	    <script src="/miliydiego/jquery.min.js"></script>
        <script src="/miliydiego/bootstrap.min.js"></script>
        
        
    </body>
    </html>
        
