<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Mili y Diego - 30 de Abril</title>
        <meta name="description" content="Nos casamos el 30 de abril y queremos compartirlo con vos!">
        <!-- Icon as App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        
        
     
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/miliydiego/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/theme.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/custom.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/css" rel="stylesheet" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

        
    </head>
    <body>
	
		
        <section class="image-bg bg-dark parallax overlay pt0 pb0">
            <div class="text-center gift-header pt120 pb120">
                <div class="row">
                    <div class="text-center col-sm-12">
                        <h3 class="uppercase mb16">Regalanos alguno de los momentos que queremos vivir en nuestra luna de miel :)</h3>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container text-center">
                <!-- Row 1 -->
                <div class="row mb24">
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 1</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 2</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 3</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 4</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                
                
                <!-- Row 1 -->
                <div class="row mb24">
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 1</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 2</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 3</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-md-3 col-sm-6 mt-sm-16">
                        <a href="/gift-1" title="Gift name">
                        <div class="gift-container">
                        
                            <div class="gift-picture gift-1"></div>
                            <div class="gift-info">
                                <h4>Regalo 4</h4>
                                <p class="price">$2.000</p>
                                <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                <button class="btn btn-filled">Regalar</button>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                
                <a class="btn mt32" href="/">Volver</a>
            </div>
        </section>
                
	
		
	    <script src="/miliydiego/jquery.min.js"></script>
        <script src="/miliydiego/bootstrap.min.js"></script>
        
        
    </body>
    </html>
        
