<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Mili y Diego - 30 de Abril</title>
        <!-- Icon as App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="/miliydiego/addtohomescreen.css">
        
        
     
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/miliydiego/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/bootstrap.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/flexslider.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/lightbox.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/ytplayer.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/theme.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/custom.css" rel="stylesheet" type="text/css" media="all">
        <link href="/miliydiego/css" rel="stylesheet" type="text/css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

        
    </head>
    <body>
			
		<div class="nav-container">
		</div>
		
		<div class="main-container">
		<section class="cover fullscreen image-bg overlay parallax" style="height: 803px;">
		        <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url(&quot;img/gold-bg.jpg&quot;); top: 0px;">
		            <img alt="image" class="background-image" src="/miliydiego/gold-bg.jpg" style="display: none;">
		        </div>
		        <div class="container v-align-transform">
		            <div class="row">
		                <div class="col-md-12 text-center">
		                    <div class="text-center">
		                        <h1 class="uppercase mb16 mt72 mb-xs-24 bold">¡Nos Casamos!</h1>
		                        <h4>Y queremos compartirlo con vos </br> Te esperamos el <b>Lunes 30 de Abril</b> para que nos acompañes <i class="fas fa-heart fa-xs" ></i></h4>
		                        <div class="countdown mb40" data-date="2018/04/30 20:00:00">Faltan 00 días 00:00:00</div>
		                        <a class="btn btn-lg btn-white mb0 inner-link" id="btnc" href="#info">Lo importante</a>
		                        <a class="btn btn-lg btn-white mb0 inner-link" id="btnf" href="#infof" style="display: none;">Lo importante</a>
		                    </div>
		                </div>
		            </div>		            
		        </div>
		        
		    </section>

		    <section>
		        <div class="container">
		            <div class="row" id="info">
		                <div class="text-center col-sm-6" id="info2">
		                    <div class="feature">
		                        <div class="text-center">
                                    <i class="fas fa-heart mb8 fa-lg" style="color: #D6346C"></i>
		                            <h5 class="uppercase">Ceremonia</h5>
		                        </div>
		                        
		                        <p>La ceremonia es a las 19.45hs. en la <b>Parroquia Nuestra Señora del Rosario</b> (Bondpland 1987. CABA). ¡Te esperamos puntual!</br>En el botón de abajo te decimos como llegar.</p>
		                        <div>
		                    	<a class="btn btn-filled btn-lg mb0" target="_blank" href="https://goo.gl/maps/tg3xjYEZEGk">Cómo Llegar</a>
		                    	</div>
		                    </div>
		                </div>
		                <div class="text-center col-sm-6" id="infoc">
		                    <div class="feature">
		                        <div class="text-center">
                                    <i class="fas fa-heart  mb8 fa-lg" style="color: #D6346C"></i>
		                            <h5 class="uppercase">Fiesta</h5>
		                        </div>
		                        <p>La fiesta empieza a las 21.30hs</br> en el <b>Salón del Río</b> (Malaver 401 (1636). Olivos. Buenos Aires). </br>En el botón de abajo te decimos como llegar.</p>
		                        <div>
		                    	<a class="btn btn-filled btn-lg mb0" target="_blank" href="https://goo.gl/maps/RnL8sjukh982">Cómo Llegar</a>
		                    	</div>
		                    </div>
		                </div>
		               <div class="text-center col-sm-12" id="infof" style="display: none;">
		                    <div class="feature">
		                        <div class="text-center">
                                    <i class="fas fa-heart  mb8 fa-lg" style="color: #D6346C"></i>
		                            <h5 class="uppercase">Fiesta</h5>
		                        </div>
                                <p>Venite a las 00.30hs para festejar con nosotros en el <b>Salón del Río</b> (Malaver 401 (1636) Olivos. Buenos Aires). </br>En el botón de abajo te decimos como llegar.</p>
		                        <div>
                                <a class="btn btn-filled btn-lg mb0" target="_blank" href="https://goo.gl/maps/RnL8sjukh982">Cómo Llegar</a>
		                    	</div>
		                    </div>
		                </div>
		            </div>    
		        </div>
		         <div class="container">
		            <div class="row" id="infociv" style="display: none;">
                        <div class="feature">
                            <div class="text-center">
                                <i class="fas fa-heart mb8 fa-lg" style="color: #D6346C"></i>
                                <h5 class="uppercase">Ceremonia</h5>
                            
                            
                            <p>La ceremonia es a las 19.45hs. en la <b>Parroquia Nuestra Señora del Rosario</b> (Bondpland 1987. CABA). ¡Te esperamos puntual!</br>En el botón de abajo te decimos como llegar.</p>
                            <div>
                            <a class="btn btn-filled btn-lg mb0" target="_blank" href="https://goo.gl/maps/tg3xjYEZEGk">Cómo Llegar</a>
                            </div>
                            </div>
                        </div>
		            </div>
                </div>
            </section>

		    <section class="image-bg bg-dark parallax overlay pt120 pb120" id="regalo">
		        <div class="background-image-holder fadeIn" style="transform: translate3d(0px, -200px, 0px); background: url(&quot;miliydiego/regalo.jpg&quot;);">
		            <img alt="Background Image" class="background-image" src="/miliydiego/regalo.jpg" style="display: none;">
		        </div>
		        <div class="container text-center">
		            <div class="row">
		                <div class="text-center col-sm-12">
		                    <h2 class="uppercase mb8">¿Querés ser parte de nuestra luna de miel?</h2>
		                    <p class="lead mb40">Regalanos alguno de los momentos que queremos vivir en nuestra luna de miel.</p>
		                </div>
		            </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 mt-sm-16">
                            <a href="/gift-1" title="Gift name">
                            <div class="gift-container">
                            
                                <div class="gift-picture gift-1"></div>
                                <div class="gift-info">
                                    <h4>Regalo 1</h4>
                                    <p class="price">$2.000</p>
                                    <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                    <button class="btn btn-filled">Regalar</button>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 mt-sm-16">
                            <a href="/gift-1" title="Gift name">
                            <div class="gift-container">
                            
                                <div class="gift-picture gift-1"></div>
                                <div class="gift-info">
                                    <h4>Regalo 2</h4>
                                    <p class="price">$2.000</p>
                                    <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                    <button class="btn btn-filled">Regalar</button>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 mt-sm-16">
                            <a href="/gift-1" title="Gift name">
                            <div class="gift-container">
                            
                                <div class="gift-picture gift-1"></div>
                                <div class="gift-info">
                                    <h4>Regalo 3</h4>
                                    <p class="price">$2.000</p>
                                    <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                    <button class="btn btn-filled">Regalar</button>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                        <div class="col-md-3 col-sm-6 mt-sm-16">
                            <a href="/gift-1" title="Gift name">
                            <div class="gift-container">
                            
                                <div class="gift-picture gift-1"></div>
                                <div class="gift-info">
                                    <h4>Regalo 4</h4>
                                    <p class="price">$2.000</p>
                                    <p>Descripcion corta del regalo. En qué momento lo usarían? porque quiere este regalo?</p>
                                    <button class="btn btn-filled">Regalar</button>
                                </div>
                            </div>
                            </a>
                        </div>
                        
                    </div>
                    <a class="btn btn-lg btn-white mt16" href="/gifts">Ver todos los regalos</a>
		            
		        </div>
		        
		    </section>

		    <section class="bg-secondary">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <h3 class="uppercase mb16">Mili y Diego</h3>
		                    <p class="lead mb64">
		                        Nuestra historia recién empieza :)</p>
		                </div>
		            </div>
		            
		            <div class="row">
		                <div class="col-sm-12">
		                    <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
		                        <ul>
		                            <li>
		                                <a href="/miliydiego/g1.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g1.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g1.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g2.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g2.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g2.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g3.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g3.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g3.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g4.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g4.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g4.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g5.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g5.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g5.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g6.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g6.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g6.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g7.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g7.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g7.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                            <li>
		                                <a href="/miliydiego/g8.jpg" data-lightbox="Gallery">
		                                    <div class="background-image-holder fadeIn" style="background: url(&quot;img/g8.jpg&quot;);">
		                                        <img alt="image" class="background-image" src="/miliydiego/g8.jpg" style="display: none;">
		                                    </div>
		                                </a>
		                            </li>
		                        </ul>
		                    </div>
		                    
		                </div>
		            </div>
		            
		        </div>
		        
		    </section>
		    <section class="page-title page-title-3 image-bg overlay parallax pt120 pb120">
		        <div class="background-image-holder fadeIn" style="transform: translate3d(0px, -989px, 0px); background: url(&quot;img/party.jpg&quot;);">
		            <img alt="Background Image" class="background-image" src="/miliydiego/party.jpg" style="display: none;">
		        </div>
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 text-center">
		                    <div>
		                    	<h3 class="uppercase mb0"><b>¡TE ESPERAMOS!</b></h3><p></p>
		                    	<p class="lead mb40 mb-xs-24" id="confirmacion">
		                        Por favor confirmanos tu asistencia escribiendonos a <b> miliydiego2018@gmail.com </b> ¡Gracias!
		                    </p>
		                    </div>
		                    <p></p>
		                    <a class="btn btn-filled btn-lg mb0" id="confirmacion1" href="mailto:miliydiego2018@gmail.com?subject=Confirmaci%C3%B3n%20de%20asistencia%20a%20casamiento&amp;body=Hola!%20Les%20confirmo%20que%20voy%20al%20casamiento.">confirmar asistencia aquí</a>
		                    
		                </div>
		                </div>
		            </div>
		            
		        </section>
            </div>
		        
		        
		    
		    


		
		
				
	    <script src="/miliydiego/jquery.min.js"></script>
        <script src="/miliydiego/bootstrap.min.js"></script>
        <script src="/miliydiego/flexslider.min.js"></script>
        <script src="/miliydiego/lightbox.min.js"></script>
        <script src="/miliydiego/masonry.min.js"></script>
        <script src="/miliydiego/ytplayer.min.js"></script>
        <script src="/miliydiego/countdown.min.js"></script>
        <script src="/miliydiego/smooth-scroll.min.js"></script>
        <script src="/miliydiego/parallax.js"></script>
        <script src="/miliydiego/scripts.js"></script>
        <script type="text/javascript">
        // jQuery Show / Hide Div based on URL parameter
			if(location.search == "?=ceremonia"){
			  $('#infoc').hide();
			  $('#btnc').hide();
			  $('#infociv').show();
			  $('#info2').hide();
              $('#confirmacion').hide();
			   $('#confirmacion1').hide();
			 
			  

			}
			if(location.search == "?=party"){
              $('#btnc').hide();
              $('#infoc').hide();
  			  $('#info2').hide();
              $('#infof').show();
			  $('#btnf').show();
              
			  

			}
			if(location.search == ""){
			  $('#infof').hide();
			  $('#btnf').hide();
			  $('#infociv').hide();
			}
        </script>
